body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #222;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 97%;
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    height: 60vh;
    background: linear-gradient(to right, #4a90e2, #0073e6);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.8rem;
}

.cta-btn {
    background: #fff;
    color: #0073e6;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
}


.features {
    padding: 50px 20px;
    text-align: center;
}

.feature-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.about {
    padding: 50px 20px;
    text-align: center;
    background: #fff;
}


.contact {
    padding: 40px 20px;
    text-align: center;
}


footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
