body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.3;
}

h1{
    color: #0e0b0b;
    text-align: start;
}
h2 {
    color: #0e0b0b;
    text-align: center;
}
header {
    
    background: #b9afaf;
    color: #3f3232;
    padding: 10px 40px;
}
header nav {
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
}
header nav a{
    text-decoration: none;
    color: #3f3232;
    font-size: 25px;
    transition: 0.8s;
}
header nav a:hover{
    border-bottom: #fc0000 solid 2px;
}

.tagline {
    margin-top: 10px;
    font-style: italic;
}


#about {
    padding: 40px 20px;
}

.about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#skills {
    background: #fff;
    padding: 40px 20px;
}

.skills-list {
    height: auto;
    
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills-list li {
    background: #333;
    color: #fff;
    padding: 8px 12px;
    margin: 5px 500px;
    display: inline-block;
    border-radius: 4px;
}


#projects {
    padding: 40px 20px;
}

.project-card {
    background: #fff;
    padding: 20px;
    margin: 35px auto;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


#resume {
    text-align: center;
    padding: 40px 20px;
}

.resume-btn {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


#contact {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
